<html>
    <head></head>
    <div class="container">
        {% include "layout.html" %}
    
        {% block content %}
        {% endblock %}
    
    </div>
    <div class="he"> <h1>Create Customer</h1></div>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/createcustomer.css')}}"/>
    
      <body>
        <div class="bo">
            <form name="createcustomer" action="" method="POST">
                {{ form.hidden_tag() }}  
                <p> {{ form.SSN.label }}</br>
                    {{ form.SSN }}
                    {% for error in form.SSN.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                
                <p> {{ form.cname.label }}</br>
                    {{ form.cname }}
                    {% for error in form.cname.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.age.label }}</br>
                    {{ form.age }}
                    {% for error in form.age.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.address.label }}</br>
                    {{ form.address }}
                    {% for error in form.address.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p> {{ form.state.label }}</br>
                    {{ form.state }}
                    {% for error in form.state.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p> {{ form.city.label }}</br>
                    {{ form.city }}
                    {% for error in form.city.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                
                
            
                <p> 
                    {{ form.submit() }}
                </p>
            
  
<br><br>

            </form>
        </div>
    </body>
</html>